.App {
	text-align: center;

	button {
		font-weight: bold;
	}
	.circle{
		height: 200px;
		width: 200px;
		background-color: red;
		border-radius: 50%;
	}
	.square{
		height: 200px;
		width: 200px;
		background-color: purple;

	}
	.rectangle{
		height:200px;
		width: 500px;
		background-color: red;
	}
}
